#skill {
  background-color: #f6f6f6;
  padding: 20px 0 60px;
}

#skill .container h2 {
  margin: 15px 0 45px;
  text-align: center;
  font-weight: lighter;
  cursor: pointer;
}

#skill .container h2:hover {
  font-weight: bolder;
}

#skill #content {
  display: flex;
  gap: 20px;
  overflow-x: auto;
  padding: 25px;
  scroll-snap-type: x mandatory;
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  scroll-padding: 25px;
  user-select: none;
  cursor: grab;
}

#skill #content.center-content {
  justify-content: center;
  overflow-x: hidden;
  /* supaya scroll gak nongol */
}


#skill #content.dragging {
  cursor: grabbing;
  user-select: none;
}

#skill .list-skill {
  flex: 0 0 auto;
  scroll-snap-align: start;
  width: 200px;
  padding: 20px;
  border: 3px solid black;
  border-radius: 15px;
  box-shadow: 4px 4px 6px black;
  background-color: #f6f6f6;
  transition: transform 0.3s ease;
  min-height: 200px;
}

#skill .list-skill:hover {
  transform: scale(1.05);
}

#skill .list-skill-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* <-- ini yang bikin tengah vertikal */
  height: 100%;
}

.icon-skill i {
  font-size: 40px;
  line-height: 40px;
}

.icon-skill,
.icon-skill-img {
  display: block;
  width: 40px;
  height: 40px;
  margin-bottom: 10px;
  object-fit: contain;
  text-align: center;
}

#skill .list-skill-body h4 {
  margin: 0;
  text-align: center;
  font-size: 16px;
}

.scroll-box-wrapper {
  position: relative;
}

.scroll-btn {
   position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    background-color: #000;
    color: white;
    border: none;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    opacity: 0.2;
}

.scroll-btn:hover {
  opacity: 0.7;
}

.scroll-btn.left {
  left: 10px;
}

.scroll-btn.right {
  right: 10px;
}

@media screen and (max-width: 1100px) {
  #skill #content {
    padding: 15px;
  }

  .icon-skill i {
    font-size: 35px;
    line-height: 35px;
  }

  .icon-skill,
  .icon-skill-img {
    width: 35px;
    height: 35px;
  }

  #skill .list-skill {
    width: fit-content;
    min-width: 200px;
    min-height: 200px;
    padding: 15px 20px;
  }

  #skill .list-skill-body h4 {
    font-size: 14px;
  }
}